body {
    font-family: 'Montserrat', sans-serif;
}

/***********
 * Footer
 **********/
footer {
    display: flex;
    justify-content: center;
    color: #fefefe;
    background: #2b3d68;
    height: 10vh;
    position:absolute;
    bottom: 0;
    width: 100%
}


footer > ul > li > a:link, a:visited a:hover {
    text-decoration: none;
    color:antiquewhite;
}

footer > ul > li{
    list-style-type: none;
    display: inline;
}

/**********
 * Identificadores
 **********/

 #login {
    float: right;
    /* background: #015c5c; - Solo colorea el contorno del boton */
}

#logo, #tour {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
    background: #FEFEFE;
    clear: both;
}

#invitacion {
    position: relative;
    text-align: center;
    justify-content: center;
}

#logo{
    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
}
